[flake8]
exclude =
    .git,
    .venv,
    .tox,
    .hypothesis,
    .github,
    dist,
    halint.egg-info,
    test-results,
max-line-length = 120
select = A,ANN,B,B9,B950,BLK,C,D,DAR,E,F,I,N,PT,PL,S,W
ignore = ANN101, ANN102, E203, E501, W503, D107
application-import-names = halint,tests
import-order-style = google
per-file-ignores =
    examples/*:S101,D100,D101,D102,D103,D104,D107
    docs/*:S101,D100,D101,D102,D103,D104,D107
    tests/*:S101,D100,D101,D102,D103,D104,D107
    tests/utils/*:S101,D100,D101,D102,D103,D104,D107
    noxfile.py:D100,D101,D102,D103
docstring-convention = google
